.container {
    padding-top: 100px;
}

.running {
    border: 3px solid;
    border-color: cornflowerblue;
    background: linear-gradient(to left, rgba(200, 169, 226, 0), rgba(0, 0, 100, 0.1));
}

.pending {
    border: 3px solid;
    border-color: lightgrey;
    background-color: whitesmoke;
}

.rejected {
    border: 3px solid;
    border-color: red;
    background: linear-gradient(to left, rgba(236, 182, 182, 0), rgba(255, 0, 0, 0.1));
}

.completed {
    border: 3px solid;
    border-color: mediumseagreen;
    background: linear-gradient(to left, rgba(190, 249, 188, 0), rgba(190, 249, 188, 0.2));
}

.accepted {
    border: 3px solid;
    border-color: mediumseagreen;
    background: linear-gradient(to left, rgba(190, 249, 188, 0), rgba(190, 249, 188, 0.2));
}

.border-running {
    border: 3px solid;
    border-color: cornflowerblue;
}

.border-pending {
    border: 3px solid;
    border-color: lightgrey;
}

.border-rejected {
    border: 3px solid;
    border-color: red;
}

.border-completed {
    border: 3px solid;
    border-color: mediumseagreen;
}

.row-collapse {
    margin: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.row-expand {
    margin: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    height: 290px;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    overflow: hidden;
}

.header {
    text-align: center;
    width: 10%;
    margin: 0px 5px 0px 5px;
}

.header-type {
    width: 15%;
}

.header-time {
    display: inline-block;
    text-align: center;
    width: 15%;
    margin: 0px 7px 0px 7px;
}

.header-owner {
    text-align: center;
    width: 10%;
    margin: 0px 8px 0px 7px;
    padding-left: 30px
}

.cell {
    text-align: center;
    white-space: nowrap;
    width: 13%;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis
}

.cell-state {
    width: 5%;
    border: 2px solid;
    border-color: lightgrey;
    margin: 5px 3% 5px 3%;
    height: 40px;
}

.cell-state:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.cell-name {
    width: 110px;
    line-height: 50px;
    overflow: auto
}

.cell-type {
    background-image: '../public/firewall.png';
    float: left;
    width: 5%;
    height: 50px;
}

.cell-type img {
    margin: 10px 0px 10px 10px;
}

.icon {
    height: 35px;
    width: 35px;
    margin: 2px 5px 0px 5px;
    float: left;
}

.react {
    height: 100px;
    width: 100px;
}

.item-id {
    margin-left: 15px;
    margin-top: 10px;
}

.item-owner {
    margin-left: 50px;
    margin-top: 10px;
}

.item-type {
    margin-top: 7px;
    text-align: left
}

.status-frame {
    margin: 25px 15px 25px 25px;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.status-frame:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.result-frame {
    margin: 25px 25px 25px 25px;
    width: 170px;
    height: 170px;
    display: inline-block;
    position: absolute
}

.frame-rejected {
    border: 3px solid;
    border-color: red;
    background: linear-gradient(to left, rgba(236, 182, 182, 0), rgba(255, 0, 0, 0.1));
}

.color-grey {
    background-color: lightgrey
}

.color-blue {
    background-color: darkgreen
}

.color-red {
    background-color: red
}

.color-green {
    background: linear-gradient(to left, rgba(236, 182, 182, 0), rgba(0, 0, 255, 0.6));
}

.label-color-grey {
    color: lightgrey;
    margin-bottom: 0px;
}

.label-color-blue {
    color: darkgreen;
    margin-bottom: 0px
}

.label-color-red {
    color: red;
    margin-bottom: 0px;
}

.label-color-green {
    color: green;
    margin-bottom: 0px;
}

.arrow-item {
    display: inline;
    position: relative;
    margin: 0px 20px 10px 20px;
}

.float-frame {
    float: left
}

.arrow-item span {
    position: absolute;
    top: 10px;
    left: 10px;
}

.arrow-top {
    margin-bottom: 10px
}

.pie-chart {
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px 15px 0px 10px;
}

.chart-frame {
    float: left;
    width: 100%
}

.test-percent {
    margin-top: 20px;
}

.test-percent .tp-label {
    display: block;
    font-size: 30px;
}

.line-bar-back {
    background-color: rgb(242, 198, 170);
    height: 35px;
    width: 88%;
    margin: 30px 2px 5px 10px;
    position: absolute;
}

.line-bar-per {
    background-color: rgb(193, 220, 177);
    height: 35px;
    margin: 30px 2px 5px 10px;
    position: absolute;
}

.line-bar-frame {
    position: relative
}

.line-bar-label-frame {
    position: absolute;
    margin: 25px 0px 0px 30px;
}

.percent {
    margin-top: 3px;
    text-align: center;
}

.result-label-rejected {
    text-align: center;
    color: red;
    display: block
}

.result-label-complete {
    text-align: center;
    color: green
}

.result-label-accepted {
    text-align: center;
    color: orange
}

.label-align-center {
    margin-top: 3px;
    text-align: center;
    display: block
}

.button-result {
    background-color: rgb(108, 165, 212);
    width: 130px;
    margin: auto;
    display: block;
    color: white
}

.arrow-item-frame {
    float: left
}

.label-test {
    display: inline-block;
    width: 25%;
    text-align: center;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.detail-hidden {
    display: none
}

.row-overview {
    height: 50px
}

.metric-label-bottom {
    position: absolute;
    left: 12px;
    bottom: 10px;
}

.metric-label-top {
    position: absolute;
    left: 12px;
    bottom: 10px;
    color: white
}


.button-result-deploy {
    padding: 5px 15px 5px 15px;
    background-color: cornflowerblue;
    color: white
}

.units {
    width: 100px;
    height: 25px;
    margin-top: 10px;
    border: 1px solid;
    border-color: green;
    margin-left: 20px;
    color: cadetblue
}

.label-to {
    margin-left: 20px
}

.label-date {
    display:block;
    text-align: center;
    margin-top: 20px 
}

@media (max-width: 1080px) {
    .cell-state {
        width: 5%;
        border: 2px solid;
        border-color: lightgrey;
        margin: 5px 3% 5px 2%;
        height: 40px;
    }
}

@media(max-width:1200px) {
    .status-frame {
        margin: 15px 15px 15px 15px;
        width: 150px;
        height: 150px;
        display: inline-block;
    }
    .arrow-item {
        display: inline;
        position: relative;
        margin: 0px 14px 5px 14px;
    }
    .arrow-item svg {
        width: 30px;
        height: 30px
    }
    .float-frame img {
        max-width: 100%;
        max-height: 100%;
    }
    .pie-chart svg {
        width: 65px;
        height: 65px
    }
    .test-percent .tp-label {
        font-size: 20px;
    }
    .line-bar-back {
        background-color: rgb(242, 198, 170);
        height: 30px;
        width: 88%;
        margin: 0px 2px 5px 10px;
        position: absolute;
    }
    .line-bar-per {
        background-color: rgb(193, 220, 177);
        height: 30px;
        margin: 0px 2px 5px 10px;
        position: absolute;
    }
    .line-bar-label-frame {
        position: absolute;
        margin: 0px 0px 0px 30px;
        font {
            font-size: 10px
        }
    }
    .percent {
        margin-top: 0px;
    }
    .result-frame {
        width: 150px;
        height: 150px;
        margin: 10px 10px 10px 10px;
    }
}